{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Add Book</title>

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

	    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container">

           <div class="panel panel-default">
               <div class="panel-heading"><h2>Add New Books</h2></div>
                <div class="panel-body">
                <form method="post" id="create-book-form">
                {% csrf_token  %}

                    <div class="form-group">
                        <label class="sr-only" for="title">Title:</label>
                        <input type="text" class="form-control" placeholder="Title" id="title" required/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="author">Author:</label>
                        <input type="text" class="form-control" placeholder="Author" id="author" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="country">country:</label>
                        <input type="text" class="form-control" placeholder="Country" id="country" required/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="language">Language:</label>
                        <input type="text" class="form-control" placeholder="Language" id="language" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="link">Link:</label>
                        <input type="text" class="form-control" placeholder="Link" id="link" required/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="pages">Pages:</label>
                        <input type="number" class="form-control" placeholder="Pages" id="pages" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="year">Year:</label>
                        <input type="number" class="form-control" placeholder="Year" id="year" required/>
                    </div>

                    <div class="form-group">
                        <label for="image_link">File image</label>
                        <input type="file" id="image_link">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Book List
                    <input class="form-control pull-right" id="search-input" onkeyup="filter()"
                            type="text" placeholder="Search by Title">
                </div>

                <div class="panel-body">
                <div class="table-responsive-sm">
                    <table id="list" class="table table-bordered">
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<th><button id="s_title" onclick="sortBy(this.id)"-->
                                    <!--class="sort-button">Title</button></th>-->
                                <!--<th><button id="s_author" onclick="sortBy(this.id)"-->
                                    <!--class="sort-button">Author</button></th>-->
                                <!--<th><button id="s_isbn" onclick="sortBy(this.id)"-->
                                    <!--class="sort-button">ISBN</button></th>-->
                                <!--<th></th>-->
                            <!--</tr>-->
                        <!--</thead>-->
                        <tbody id="list-body">
                            {% for book in all_books %}
                            <tr>
                                <td><a target="_blank" href="{{ book.url }}">{{ book.image_link }}</a></td>
                                <td><img src="/static/book.image_link" class="img-responsive" alt="Responsive image"></td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.country }}</td>
                                <td>{{ book.language }}</td>
                                <td>{{ book.pages }}</td>
                                <td>{{ book.year }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>

            </div>

        </div>


        </div>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>


    </body>

</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
