{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
</head>

<!--<body>-->
	<!--<div class="container mt-5">-->
		<!--<h1>Book List</h1>-->
		<!--<div class="row">-->
			<!--{% for book in f %}-->
				<!--<div class="col-md-4 text-center mt-2 mb-2">-->
					<!--<div class="card" style="width: 18rem;">-->
						<!--<div class="card-body">-->
							<!--<p class="card-text"><a href="{{ book.link }}">{{book.title}}</a></p>-->
							<!--<small>{{ book.author }}</small>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--{% endfor %}-->
		<!--</div>-->
	<!--</div>-->
<!--</body>-->
<!--</html>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<h3>Add Book to Database below this</h3>
{% if all_books %}
    <h3>List of Books: </h3>
    <ul>
        {% for book in all_books %}
            <li><a herf="/book/{{ book.id }}/">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Don't have any books</h3>
{% endif %}