<!DOCTYPE html>
{% load staticfiles %}

<html>

<!--<nav class="navbar navbar-inverse">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!---->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

    <head>
        <title>Add Book</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!--3 line below this can save any fields to DB-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>

    <div class="container">

            <div class="panel panel-default">
                <div class="panel-heading"><h1>Add New Books</h1></div>
                <div class="panel-body">
                <form method="post" id="create-book-form">
                {% csrf_token  %}

                    <div class="form-group">
                        <div class="form-inline">

                            <label for="title">Title:</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="title" required/>
                            </div>

                            <label for="author">Author:</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="author" required/>
                            </div>

                            <label for="country">Country:</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="country" required/>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-inline">

                            <label for="language">Language:</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="language" required/>
                            </div>

                            <label for="link">Link:</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="link" required/>
                            </div>

                            <label for="pages">pages:</label>
                            <div class="col-xs-3">
                                <input type="number" class="form-control" id="pages" required/>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-inline">

                            <label for="year">year:</label>
                            <div class="col-xs-3">
                                <input type="number" class="form-control" id="year" required/>
                            </div>

                            <label for="image_link">File image:</label>
                            <div class="col-xs-3">
                                <input type="file" id="image_link" required>
                            </div>

                             <div class="col-xs-2">
                                 <input type="submit" class="btn btn-default" value="Submit"/>
                            </div>

                        </div>
                    </div>
                </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Book List</h1>
                </div>

                <div class="panel-body">
                <div class="table-responsive-sm">
                    <table id="list" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><h5><b>Images</b></h5></th>
                                <th><h5><b>Title</b></h5></th>
                                <th><h5><b>Author</b></h5></th>
                                <th><h5><b>Country</b></h5></th>
                                <th><h5><b>Pages</b></h5></th>
                                <th><h5><b>Year</b></h5></th>

                            </tr>
                        </thead>
                        <tbody id="list-body">
                            {% for book in all_books %}
                            <tr>
                                <td><img src="{{ book.image_link.url }}" class="img-responsive" width="100" ></td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.country }}</td>
                                <td>{{ book.pages }}</td>
                                <td>{{ book.year }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>

            </div>

        </div>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    </body>

</html>

